<!DOCTYPE html>
<html ng-app="seoApp">
  <head>
    <title>Angular and Node</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div ng-controller="myController">
      <form ng-submit="submit()">
        <input type="text" ng-model="text" name="text">
        <input type="submit" value="submit">
      </form>
      <p>{{ jsonfile }}</p>
      <ul ng-repeat="item in data">
	       <li>{{ item }}</li>
     </ul>
    </div>
  </body>
</html>
