body {
  margin: auto;
  width: 50%;
  max-width: 50em;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}


a {
  color: #00B7FF;
}

.warning {
  font-weight: bold;
  color: #FF2727
}
.entryBox {
  text-align: center;
}

.loader {
    position: absolute;
    left: 47%;
    top: 20%;
    border: 16px solid #E3E3E3; /* Light grey */
    /*Red for increased speed*/
    border-top: 16px solid #15C2FF; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /*HYPER SPEED LOADING!*/
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
